@font-face {
     font-family: 'Poppins-Bold';
     src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'Poppins-Light';
     src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}
