@import url("reset.css");

@font-face {
     font-family: 'Montserrat Alternates';
     src: url('../fonts/MontserratAlternates-Light.woff2') format('woff2'), url('../fonts/MontserratAlternates-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'Montserrat Alternates';
     src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'), url('../fonts/MontserratAlternates-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Roboto Th';
     src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
}

@font-face {
     font-family: 'Roboto Cn';
     src: url('../fonts/Roboto-BoldCondensed.woff2') format('woff2'), url('../fonts/Roboto-BoldCondensed.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}


body {
     font-family: 'Quicksand', serif;
     font-size: 18px;
     font-weight: 400;
     text-align: justify;
     line-height: 1.6;
     color: #000000c7;
}

h1, h2, h3, h4 {
     word-spacing: 10px;
     font-family: 'Montserrat Alternates', serif;
     font-weight: 400;
}

h1, h2 {
     text-decoration: underline;
     text-align: center;
     line-height: 1.8;
}

h1 {
     font-size: 70px;
     color: #441818;
     text-shadow: -4px 4px 5px #681717;
     text-transform: uppercase;
     letter-spacing: 10px;
}

h2 {
     font-size: 40px;
     color: #681717;
     text-shadow: 3px 1px 1px #c54444;
}

h3 {
     font-size: 30px;
     color: #811313;
     text-align: left;
     line-height: 1.6;
     text-indent: 50px;
}

h4 {
     font-size: 20px;
     color: #22116e;
     line-height: 1.9;
     text-transform: lowercase;
     text-decoration: overline;
}

h4 {
     font-family: 'Roboto Cn', serif;
     text-indent: 30px;
     line-height: 1.8;
}
ol li {
     font-family: 'Montserrat Alternates', serif;
     font-size: 18px;
     color: #31199b;
}

ul li {
     font-family: 'Roboto Th', serif;
     font-size: 17px;
     color: #241275;
     text-indent: 50px;
}

.note-link, .fertility {
     font-family: 'Itim', serif;
     font-size: 14px;
     font-style: italic;
     font-weight: 700;
     color: #c54444;
     text-transform: uppercase;
     text-decoration: underline;
}

.note, .footer {
     font-size: 14px;
     text-align: center;
}

.note {
     text-align: right;
}

.text {
     text-indent: 30px;
}

.go-to-top p {
     font-size: 25px;
     text-transform: uppercase;
     line-height: 4;
     text-align: center;
}

.wiki {
     font-style: italic;
     font-weight: 400;
     color: #c54444;
     text-decoration: underline;
}