.title {
	font-size: 16px;
	line-height: 1.6;
	font-weight: 500;
	vertical-align: top;
	color: #212529;
}

.title:hover .title__link {
	color: #49505780;
	text-decoration: underline;
}

.title-white {
	font-size: 25px;
	line-height: 1.6;
	font-weight: 700;
	color: #F8F9FA;
}

.text {
	font-size: 12px;
	line-height: 1.6;
	font-weight: 300;
	color: #495057;
}

.image {
	overflow: hidden;
}
.image img {
	max-width: 100%;
     transition: 0.3s all
}
.image img:hover {
transform: scale(1.05);
}
