@import url("reset.css");
@import url("common.css");
@import url("fonts.css");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #e5e5e5;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1270px; /* 1240 + 15 + 15  */
	margin: 0 auto;
}

/* _______________________________________________________________Header */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.header__content {
	display: flex;
     min-height: 100px;
     align-items: center;
	justify-content: space-between;
	flex: 1 0 100%;
     padding: 15px 0;
     gap: 10px;
	color: #49505780;
	font-weight: 500;
	line-height: 2.08; /* 25/12 */
}
.header__logo {
	font-weight: 700;
	font-size: 18px;
	color: #495057;
	line-height: 1.4;
	text-transform: uppercase;
	position: relative;
}
.header__logo::after {
	content: '.';
	position: absolute;
	bottom: 0;
	color: #DDBEA9;
}
.header__navigation {
	font-weight: 500;
}
.menu__link.active {
	color: #495057;
}
.menu__link.active::before {
	width: 100%;
	left: 0;
}
.menu__link, .header__link-login {
	position: relative;
}
.menu__link::before, .header__link-login::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.2s, left 0.3s;
	border-radius: 2px;
	background-color: #ddbea9;
}
.menu__item:hover .menu__link {
	color: #495057;
}
.menu__item:hover .menu__link::before {
	width: 100%;
	left: 0;
}
.menu__items, .header__buttons {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	align-items: center;
	row-gap: 5px;
}
.submenu {
	position: relative;
	padding-right: 12px;
}
.submenu::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 10px;
	height: 6px;
	width: 6px;
	border-left: 1px solid #49505780;
	border-bottom: 1px solid #49505780;
	transform: rotate(-45deg);
}
.submenu__items {
	position: absolute;
	min-width: 110px;
	top: 40px;
	left: 9px;
	background-color: #E5E5E5;
	color: #637381;
	padding: 10px 5px;
	border-radius: 5px;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
	transition: all 0.1s;
}
.submenu:hover .submenu__items {
	opacity: 1;
	visibility: visible;
}
.submenu__item {
	margin: 5px 0;
}
.submenu__items::before {
	content: "";
     position: absolute;
     min-height: 40px;
	min-width: 77px;
     left: 0;
     top: -37px;
	z-index: 11;
}
.submenu__item:hover .submenu__link {
	color: #DDBEA9;
}
.header__login:hover .header__link-login {
	color: #495057;
}
.header__login:hover .header__link-login::before {
	width: 100%;
	left: 0;
}
.header__login {
	padding: 5px;
}
.header__start {
	color: #F8F9FA;
	background-color: #DDBEA9;
	padding: 7px 16px;
	line-height: 2.1;
	border-radius: 20px;
	min-width: 101px;
}
.header__link-login {
	width: 100%;
}

/* _______________________________________________________________Main */

.main__block {
	color: #E5E5E5;;
}
.main__container {
	padding-top: 100px;
}
.main__slider {
	min-height: 500px;
	max-width: 100%;
	overflow: hidden;
	background: url('../img/page_01/background.webp') center no-repeat;
	margin-bottom: 100px;
	padding-top: 190px;
}
.main__body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 1 100%;
	gap: 10px;
	justify-content: center;
	margin: 0 auto;
}
.main__author {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.6;
	text-align: center;
}
.main__page-title {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}
.main__articles-container {
	max-width: 1030px;
	margin: 0 auto 60px;
}
.main__articles {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	margin: 0 -15px;
}
.main__column {
	padding: 0px 15px;
}
.left {
	flex: 0 1 40%;
}
.left__content {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.left__title {
	color: #212529;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
}
.left__items {
	color: #495057;
	line-height: 2.1;
	font-weight: 500;
}
.left__item:not(:last-child) {
	margin-bottom: 10px;
}
.left__item::before {
	content: '+';
	padding-right: 10px;
	vertical-align: top;
}
.left__item:hover .left__link {
	text-decoration: underline;
}
.left__search {
	color: #49505780;
	font-weight: 500;
	line-height: 2.1;
	margin-bottom: 40px;
}
.left__search::before {
	content: '';
	background: url('../img/icons/search.svg') center no-repeat;
	padding-left: 30px;
	left: 0;
}
.right {
	flex: 0 1 60%;
}
.right__card {
	row-gap: 15px;
	display: flex;
	column-gap: 30px;
	color: #6C757D;
	margin-bottom: 40px;
	flex: 1 1 100%;
}
.card__background {
	flex: 1 0 47%;
}
.card__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 10px;
}
.card__text {
	line-height: 1.6;
}
.card__body hr {
	width: 100%;
	background-color: #E5E5E5;
	height: 1px;
}
.card__bottom {
	display: flex;
	justify-content: space-between;
}
.card__author:hover .card__link-author {
	text-decoration: underline #E5E5E5;
}
.card__likes::before {
	content: '';
	background: url('../img/icons/heart.png') center no-repeat;
	padding-left: 23px;
	left: 0;
}
.number__items {
	justify-content: center;
	display: flex;
	column-gap: 15px;
	margin-bottom: 50px;
	font-weight: 500;
	line-height: 2.08;
	color: #49505780;
}
.number__link.active {
	color: #495057;
}
.number__link.active::before {
	width: 100%;
	left: 0;
}
.number__link {
	position: relative;
}
.number__link::before, .main__numbering::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.2s, left 0.3s;
	border-radius: 2px;
	background-color: #ddbea9;
}
.number__item:hover .number__link {
	color: #495057;
}
.number__item:hover .number__link {
	color: #495057;
}
.number__item:hover .number__link::before {
	width: 100%;
	left: 0;
}

/* _______________________________________________________________Footer */

.footer {
	min-height: 325px;
	background-color: #212529;
	color: #f8f9fa80;
	font-weight: 500;
	padding-top: 100px;
}
.footer__top, .footer__bottom {
	display: flex;
	justify-content: space-between;
	column-gap: 5px;
	row-gap: 20px;
}
.footer__top {
	margin-bottom: 32px;
}
.footer__logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.6;
	position: relative;
	color: #F8F9FA;
}
.footer__logo::after{
	content: '.';
	position: absolute;
	bottom: 0;
	color: #DDBEA9;
}
.footer__items {
	display: flex;
	column-gap: 25px;
	flex-wrap: wrap;
}
.footer hr {
	background-color: #E5E5E5;
	height: 1px;
	margin-bottom: 40px;
}
.footer__logo:hover .footer__link-logo, .footer__item:hover .footer__link-item, .footer__address:hover .footer__link-address {
	color: #F8F9FA;
}

/* _______________________________________________________________Adaptive */

@media (max-width: 955.98px) {
	.main__title {
		font-size: 22px;
	}
	.header__buttons {
		flex-direction: column-reverse;
	}
	.main__page-title {
		font-size: 22px;
	}
	.main__articles {
		flex-direction: column;
	}
	.left__content {
		align-items: center;
	}
	.left__search {
		font-size: 14px;
	}
	.left__title {
		font-size: 20px;
	}
	.right__card {
		padding: 0 30px;
	}
	.left__items, .left__search {
		font-size: 12px;
	}
	.main__slider {
		margin-bottom: 40px;
	}
	.main__articles-container {
		margin-bottom: 20px;
	}
}
@media (max-width: 679.98px) {
	.menu::after {
		content: 'Menu';
		position: relative;
		padding: 10px 20px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 14px;
		line-height: 1.6;
		color: #212529;
		background-color: #E5E5E5;
		border-radius: 3px;
	}
	.menu__items {
		position: absolute;
     top: 80px;
     background-color: #E5E5E5;
     color: #637381;
     padding: 5px 15px;
     border-radius: 5px;
     z-index: 11;
     opacity: 0;
	visibility: hidden;
     transition: all 0.1s;
	}
	.menu__items::before {
		content: "";
		position: absolute;
		min-height: 40px;
		min-width: 77px;
		top: -30px;
		left: 5px;
		z-index: 11;
	}
	.menu__item {
		margin: 5px auto;
	}
	.menu:hover .menu__items {
		opacity: 1;
		visibility: visible;
	}
}
@media (max-width: 619.98px) {
	.main__body {
		position: relative;
	}
	.main__block {
		order: 2;
	}
	.left__content {
		row-gap: 15px;
	}
	.left__title {
		font-size: 16px;
	}
	.footer {
		min-height: 275px;
		padding-top: 30px;
	}
	.footer__bottom, .footer__top {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 556.98px) {
	.menu__items {
		flex-direction: column;
	}
	.submenu__items {
		top: 0;
		left: 83px;
	}
	.submenu__items::before {
		top: 0;
		left: -50px;
	}
}

@media (max-width: 547.98px) {
	.right__card {
		flex-direction: column;
		padding: 0;
	}
	.card__background {
		flex: 0 1 100%;
	}
	.main__page-title {
		font-size: 20px;
	}
	.left__title {
		font-size: 16px;
	}
}
@media (max-width: 379.98px) {
	.header__start {
		padding: 7px 8px;
		text-align: center;
		font-size: 12px;
	}
}