@import "_reset.scss";
@import "_common.scss";
@import "_fonts.scss";

$GreyColor: #C4C4C4;
$MiddleGreyColor: #828282;

.wrapper {
     overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: 'Oswald', sans-serif;
	color: #000000;
}
.wrapper > .main {
	flex-grow: 1;
}
header, footer {
	margin: 0 auto;
	padding: 15px 21px;
	font-size: 20px;
	font-weight: 600;
	background-color: $GreyColor;
	width: 100%;
	text-align: center;
}
[class*="__container"] {
	padding: 0 21px;
	max-width: 1920px;
	margin: 0 auto;
}
.main {
		&__header-section {
			margin-bottom: 30px;
		}
		&__logos-title {
			font-weight: 400;
			font-size: 24px;
			line-height: 2.8;
			text-transform: uppercase;
			max-width: 359px;
			background-color: white;
			position: relative;
			top: 35px;
			margin: 0 auto;
			text-align: center;
		}
		&__logos-block {
			border: 1px solid $GreyColor;
			display: flex;
			gap: 35px;
			padding: 28px 11px;
			justify-content: space-between;
			@media (max-width: 1309.98px) {
				flex-wrap: wrap;
			}
		}
		&__brand-logo-link {
			flex: 0 1 235px;
			height: 141px;
			text-align: center;
			vertical-align: middle;
			display: flex;
			align-items: center;
			justify-content: space-around;
			z-index: 3;
			&:hover {
				background-color: #F0F2F2;
			}
		}
.top-banner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		margin-bottom: 30px;
		@media (max-width: 1309.98px) {
			grid-template-columns: 1fr;
		}
			&__block {
				display: flex;
				overflow: hidden;
				position: relative;
				min-height: 434px;
				&:first-child {
					justify-content: flex-end;
				}
				&:nth-child(3) {
					grid-row: 1 / span 2;
					grid-column: 2 / 3;
					@media (max-width: 1309.98px) {
						grid-row: 3;
					grid-column: 1;
					}
				}
				& img {
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__content {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
			.first {
				text-align: left;
				max-width: 369px;
				padding: 82px 64px;
				h3 {
					font-size: 48px;
					max-width: 221px;
					line-height: 1.3; /* 62/48 */
					@media (max-width: 985.98px) {
						font-size: 40px;
					}
					}
				p {
					font-family: 'Roboto', sans-serif;
					font-size: 22px;
					line-height: 1.7; /* 37/22 */
					@media (max-width: 985.98px) {
						font-size: 20px;
					}
				}
			}
			.second {
				padding: 115px 94px;
				h3 {
					font-size: 48px;
					max-width: 352px;
					line-height: 1.3; /* 62/48 */
					@media (max-width: 985.98px) {
						font-size: 40px;
					}
				}
				p {
					font-family: 'Roboto', sans-serif;
					font-size: 22px;
					line-height: 1.7; /* 37/22 */
					@media (max-width: 985.98px) {
						font-size: 20px;
					}
				}
			}
			.third {
				justify-content: flex-end;
				padding: 103px 86px;
				h3 {
					font-size: 96px;
					max-width: 357px;
					line-height: 1.3; /* 62/48 */
					@media (max-width: 985.98px) {
						font-size: 70px;
					}
				}
				p {
					font-family: 'Roboto', sans-serif;
					font-size: 25px;
					line-height: 1.7; /* 37/22 */
					@media (max-width: 985.98px) {
						font-size: 20px;
					}
				}
			}
			&__title {
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 7px;
			}
			&__text {
				margin-bottom: 50px;
			}
			&__button-link {
				text-transform: uppercase;
				border: 1px solid #000000;
				font-size: 18px;
				font-weight: 500;
				max-width: 175px;
				text-align: center;
				padding: 17px 0;
				font-family: 'Oswald', sans-serif;
				font-weight: 500;
				font-size: 18px;
				&:hover {
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
	}
		&__category-section {
			margin-bottom: 120px;
		}
}
.products {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	column-gap: 30px;
	margin-bottom: 24px;
		&__list-block {
			grid-column: span 4;
			border-right: 1px solid $GreyColor;
		}
		&__form-title {
			font-weight: 400;
			font-size: 24px;
			text-transform: capitalize;
			margin-bottom: 31px;
		}
		&__items-checkbox {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			line-height: 2;
			text-transform: uppercase;
		}
		&__checkbox-item {
			position: relative;
		}
		&__input-checkbox {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			opacity: 0;
			&:checked + .products__label-checkbox::before {
				background: #000000 url('../img/icons/tick.svg') center no-repeat;
			}
		}
		&__label-checkbox {
			display: inline-flex;
			gap: 10px;
			cursor: pointer;
			align-items: flex-start;
			&::before {
				content: '';
				flex: 0 0 10px;
				width: 10px;
				height: 10px;
				border: 1px solid #000;
				align-self: center;
			}
		}
		&__items-block {
			grid-column: span 14;
		}
		&__gallery {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			column-gap: 26px;
			row-gap: 48px;
			margin-bottom: 60px;
			@media (max-width: 1309.98px) {
				grid-template-columns: repeat(3, 1fr);
				justify-items: center;
			}
			@media (max-width: 985.98px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		&__item {
			grid-column: span 3;
			max-width: 353px;
			@media (max-width: 1309.98px) {
				grid-column: span 1;
			}
		}
		&__box-button {
			text-align: center;
		}
		&__button {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.5;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: $MiddleGreyColor;
			border: 1px solid $GreyColor;
			padding: 13px 30px;
			margin-bottom: 38px;
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
}
.discount {
	position: relative;
		&::after {
			content: '-30%';
			color: #ffff;
			background-color: #000000;
			width: 40px;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.5;
			vertical-align: middle;
			text-align: center;
			position: absolute;
			top: 15px;
	}
}
.item {
	overflow: hidden;
	max-width: 353px;
		&__image {
			margin-bottom: 14px;
			display: block;
			width: 100%;
			object-fit: cover;
		}
		&__link-image {
			& img {
				width: 100%;
			}
		}
		&__category-title {
			font-weight: 600;
			font-size: 12px;
			text-transform: uppercase;
			color: #BDBDBD;
		}
		&__title {
			font-weight: 300;
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 18px;
		}
		&__price {
			font-weight: 500;
			font-size: 22px;
			line-height: 1.5;
			text-transform: uppercase;
		}
}
.price {
	display: flex;
	column-gap: 12px;
	align-items: end;
		&__new {
			color: #EB5757;
		}
		&__old {
			color: $MiddleGreyColor;
			text-decoration: line-through;
			font-weight: 400;
			font-size: 14px;
			
		}
}
.middle-banner {
	margin-bottom: 77px;
	display: flex;
	position: relative;
	max-height: 467px;
	overflow: hidden;
		&__image {
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__content {
			display: flex;
			flex-direction: column;
			padding: 96px 279px;
			max-width: 1350px;
			position: relative;
			z-index: 2;
			background: linear-gradient(90deg,
				rgba(221,235,241,1) 0%,
				rgba(211,229,238,1) 42%,
				rgba(200,222,236,1) 69%,
				rgba(255,255,255,0) 100%);
		}
		&__decor{
			width: 602px;
			height: 100px;
			border-top: 2px solid #000000;
			border-right: 2px solid #000000;
			position: absolute;
			top: 77px;
			right: 250px;
		}
		&__title {
			font-weight: 500;
			font-size: 56px;
			line-height: 1.3;
			margin-bottom: 17px;
			text-transform: uppercase;
			max-width: 590px;
			@media (max-width: 1309.98px) {
				font-size: 40px;
			}
		}
		&__text {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 25px;
			line-height: 1.5;
			max-width: 639px;
			text-align: justify;
			margin-bottom: 24px;
			@media (max-width: 1309.98px) {
				font-size: 20px;
			}
		}
		&__button-link {
			text-transform: uppercase;
				border: 1px solid #000000;
				font-size: 18px;
				font-weight: 500;
				max-width: 175px;
				text-align: center;
				padding: 17px 0;
				font-family: 'Oswald', sans-serif;
				font-weight: 500;
				font-size: 18px;
				&:hover {
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
		}
.featured-items {
	margin-bottom: 80px;
		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}
		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 2.85;
		}
		&__buttons {
			display: flex;
			max-width: 84px;
			column-gap: 4px;
			justify-content: space-between;
		}
		&__items {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			justify-items: center;
			gap: 31px;
			max-width: 1878px;
			justify-items: center;
			@media (max-width: 1309.98px) {
				grid-template-columns: repeat(3, 1fr);
				justify-items: center;
			}
			@media (max-width: 985.98px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		&__item {
			overflow: hidden;
		}
}
.back, .forward {
	width: 40px;
	height: 40px;
	border: 2px solid $GreyColor;
	text-align: center;
	padding-top: 8px;
	&__button-link {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-top: 2px solid $MiddleGreyColor;
	}
}
.back {
	&__button-link {
		border-left: 2px solid $MiddleGreyColor;
		transform: rotate(-45deg);
	}
}
.forward {
	&__button-link {
		border-right: 2px solid $MiddleGreyColor;
		transform: rotate(45deg);
	}
}
.popular-items {
	margin-bottom: 80px;
		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}
		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 2.85;
		}
		&__buttons {
			display: flex;
			max-width: 84px;
			column-gap: 4px;
			justify-content: space-between;
		}
		&__items {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 31px;
			max-width: 1878px;
			justify-items: center;
			@media (max-width: 1309.98px) {
				grid-template-columns: repeat(3, 1fr);
				justify-items: center;
			}
			@media (max-width: 985.98px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		&__item {
			overflow: hidden;
		}
}
.bottom-banner {
	margin-bottom: 82px;
	display: flex;
	justify-content: flex-end;
	position: relative;
	min-height: 467px;
		&__image{
			position: absolute;
			left: 0;
			top: 0;
		}
		&__content {
			display: flex;
			flex-direction: column;
			max-width: 640px;
			padding-right: 40px;
			position: absolute;
			right: 80px;
			top: 21px;
		}
		&__decor {
			width: 626px;
			height: 114px;
			border-top: 2px solid #000000;
			border-right: 2px solid #000000;
			position: absolute;
			right: 80px;
			top: 0;
		}
		&__title {
			margin-bottom: 34px;
			
		}
		&__link-title {
			font-weight: 500;
			font-size: 56px;
			line-height: 1.3;
			margin-bottom: 17px;
			text-transform: uppercase;
			max-width: 630px;
			@media (max-width: 1309.98px) {
				font-size: 40px;
			}
		}
		&__text {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 25px;
			line-height: 1.5;
			max-width: 600px;
			text-align: justify;
			margin-bottom: 30px;
			@media (max-width: 1309.98px) {
				font-size: 20px;
			}
		}
		&__button-link {
			text-transform: uppercase;
			border: 1px solid #000000;
			font-size: 18px;
			font-weight: 500;
			max-width: 175px;
			text-align: center;
			padding: 17px 0;
			font-family: 'Oswald', sans-serif;
			font-weight: 500;
			font-size: 18px;
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
			@media (max-width: 1309.98px) {
				align-self: flex-end;
				min-width: 175px;
			}
		}
}
.blog {
	background-color: #F8F9FB;
	padding: 46px 0;
		&__title {
			margin-bottom: 30px;
		}
}
.article {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	@media (max-width: 1309.98px) {
		grid-template-columns: repeat(2, 1fr)
	}
		&__item {
			display: flex;
			flex-direction: column;
			padding: 24px 24px 5px;
			background-color: #ffff;
		}
		&__category {
			font-weight: 600px;
			font-size: 18px;
			text-transform: uppercase;
			color: $GreyColor;
			margin-bottom: 21px
		}
		&__title {
			font-weight: 400;
			font-size: 26px;
			line-height: 1.5; /* 39/26 */
			margin-bottom: 32px;
		}
		&__text {
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 1.5;
			font-weight: 300;
			text-align: justify;
			min-height: 220px;
			flex-grow: 1;
		}
		&__date {
			padding: 11px 0;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 13px;
			align-self: flex-start;
			width: 100%;
			border-top: 3px solid #000000;
		}
}