@import url("reset.css");
@import url("fonts.css");

html, body {
     min-height: 100%;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
     flex-wrap: wrap;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 930px;
	margin: 0 auto;
     padding: 10px 15px;
     align-items: center;
     background-color: #ffffffff;
}
.main__crisp input, .main__crisp textarea, .form-crisp__list {
     border: 1px solid #000000;
}
.main__crisp {
     padding: 0 147px;
}
.form-crisp {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 16px;
     color: #3F3F3F;
     margin-bottom: 100px;
}
.form-crisp__title {
     font-family: 'Oswald', sans-serif;
     font-weight: 400;
     font-size: 24px;
     color: #000000;
     margin-bottom: 35px;
}
.form-crisp__submit-form {
     margin-bottom: 40px;
}
.form-crisp__line {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     column-gap: 30px;
     margin-bottom: 24px;
}
.address-line{
     justify-content: end;
}
.form-crisp__label, .form-crisp__label-star {
     flex: 0 1 22%;
}
.form-crisp__label-star::after {
     content: '*';
     color: #ff0000;
     width: 5px;
     top: 0;
     right: 20px;
}
.form-crisp__input {
     flex: 0 1 73%;
     height: 44px;
}
.form-crisp__reminder {
     font-size: 14px;
     line-height: 1.25;
     color: #828282;
     margin-bottom: 28px;
}
.form-crisp__submit {
     display: flex;
     column-gap: 25px;
     align-items: center;
}
.form-crisp__list {
     height: 44px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #3F3F3F;
     font-size: 16px;
     padding-left: 16px;
     flex: 0 1 73%;
}
.crisp__button {
     font-family: 'Oswald', sans-serif;
     font-weight: 400;
     font-size: 14px;
     color: #ffffff;
     text-align: center;
     vertical-align: middle;
     background-color: #000000;
     padding: 14px 39px;
     border: 1px solid #000000;
}
.crisp__button:hover {
     background-color: #ffffff;
     color: #000000;
}
.form-crisp__recovery {
     flex: 0 1 100%;
     font-size: 14px;
     color: #0F6DB1;
}
.form-crisp__recovery:hover {
     text-decoration: underline;
     color: #0F6DB1;
}
.form-crisp hr {
     min-width: 100%;
     border-top: 1px solid #C4C4C4;
     margin-bottom: 40px;
}
.form-crisp__shipping-line {
     display: flex;
     height: 44px;
     column-gap: 100px;
     align-items: center;
     border-top: 1px solid #C4C4C4;
     font-size: 14px;
     margin-bottom: 24px;
}
.form-crisp__shipping-line {
     border-top: 1px solid #C4C4C4;
}
.form-crisp__shipping-price {
     display: flex;
     flex: 0 1 9.5%;
     width: 55px;
     position: relative;
}
.form-crisp__shipping-radio, .form-checkout__checkbox {
     position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.form-crisp__shipping-label {
     margin-right: 100px;
     cursor: pointer;
     display: flex;
     align-items: flex-start;
     gap: 13px;
     font-weight: 500;
     font-size: 14px;
     color: #828282;
}
.form-crisp__shipping-label::before {
     content: '';
     flex: 0 0 10px;
     height: 10px;
     border-radius: 50%;
     border: 1px solid #828282;
}
.form-crisp__shipping-radio:checked + .form-crisp__shipping-label::before {
     border: 3px solid #000000;
     border-radius: 50%;
}
.form-crisp__shipping-radio:checked + .form-crisp__shipping-label {
     font-weight: 500;
     font-size: 14px;
     color: #000000;
} 
.form-crisp__shipping-variant {
     flex: 0 1 11%;
}
.form-crisp__steps {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     flex: 0 1 100%;
}
.form-crisp__back {
     font-family: 'Oswald';
     font-weight: 500;
     font-size: 14px;
     color: #828282;
     border: 1px solid #ffffff;
     padding: 15px 40px;
}
.form-crisp__back:hover {
     border: 1px solid #000000;
}
.main__checkout {
     padding: 0 100px;
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #637381;
}
.main__checkout input, .form-checkout__list, textarea {
     border: 1px solid #E7E7E7;
     border-radius: 7px;
     height: 54px;
}
.form-checkout__title {
     font-family: 'Inter', sans-serif;
     font-weight: 700;
     font-size: 44px;
     color: #212B36;
     line-height: 1.2;
     margin-bottom: 10px;
}
.form-checkout__reminder {
     line-height: 1.2;
     margin-bottom: 50px;
}
.form-checkout__form {
     display: flex;
     column-gap: 28px;
     row-gap: 30px;
     flex-wrap: wrap;
}
.form-checkout__subtitle {
     font-family: 'Inter', sans-serif;
     font-weight: 600;
     font-size: 20px;
     line-height: 1.1;
     color: #212B36;
}
.form-checkout__line {
     flex: 0 1 48%;
}
.form-checkout__input {
     width: 336px;
     padding-left: 25px;
}
.form-checkout__list {
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #637381;
     width: 336px;
     padding-left: 25px;
}
.form-checkout__textarea {
     padding: 25px;
     width: 100%;
     height: 180px;
}
.form-checkout__service {
     display: flex;
     flex-direction: column;
     row-gap: 25px;
     flex: 0 1 100%;
}
.form-checkout__radio {
     display: flex;
     align-items: center;
     height: 24px;
     column-gap: 14px;
}
.form-checkout__checkbox:checked + .form-checkout__label:before {
     background: url('../img/tick.svg') center no-repeat;
}
.form-checkout__label {
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 14px;
}
.form-checkout__label:before {
     content: '';
     flex: 0 0 22px;
     width: 22px;
     height: 22px;
     border-radius: 4px;
     border: 1px solid #E7E7E7;
}
.form-checkout__coupon-block {
     display: flex;
     column-gap: 20px;
}
.form-checkout__button {
     font-family: 'Inter',sans-serif;
     font-weight: 600;
     font-size: 16px;
     line-height: 1.2;
     color: #ffffff;
     background-color: #212B36;
     border-radius: 5px;
     padding: 12px 22px;
}