@import url("reset.css");

/* Підключаю шрифти файлами,тому що у під час відключення електрики немає інтернету */

@font-face {
     font-family: 'Poppins-Bold';
     src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'Poppins-Light';
     src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}

body {
     font-family: 'Poppins-Light', sans-serif;
     color: #6C757D;
     font-weight: 300;
     font-size: 14px;
     line-height: 1.78;
}

header {
     margin-bottom: 100px;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

h2,h3 {
     font-family: 'Poppins-Bold', sans-serif;
     color: #212529;
     font-weight: 700;
     font-size: 25px;
     line-height: 1.6;
}

h2 {
     margin-bottom: 40px;
}

h3 {
     margin-bottom: 100px;
}

.top-image{
     width: 100%;
}

.text-block {
     max-width: 816px;
     margin: 0 auto 80px;
}

p {
     margin-bottom: 35px;
}

.last-p {
     margin-bottom: 0px;
}

.line-pics, .dessert {
     font-size: 0px;
     margin-bottom: 80px;
     max-width: 100%;
}

.line-image-1 {
     margin-right: 15px;
}

.line-image-2 {
     margin-left: 15px;
}

.dessert {
max-width: 100%;
}

footer {
     text-align: center;
     padding: 20px;
}
/* на кнопку діє text-align тому, що .button дано display: inline-block і він підпорядковується стилям рядкових тегів*/
.button {
     display: inline-block;
	padding: 20px;
	background-color: #da6ada;
	color: #fff;
	border-radius: 15px;
	border: 2px solid #640655;
	box-shadow: 0 7px 1px 1px #363434;
	position: relative;
	top: 0;
	transition: all 0.3s;
}
.button:hover {
	top: 3px;
	box-shadow: 0 2px 1px 1px #292727;
}