@import url("reset.css");

@import url("fonts.css");

body {
     font-family: 'Poppins-Light', sans-serif;
     font-size: 18px;
     line-height: 1.7;
}

.body {
     min-height: 100%;
     background: rgba(236, 132, 227, 0.212) linear-gradient(100deg, rgba(255,255,255,0) 10%, rgba(32,53,124,0.8575805322128851) 10%, rgba(32,53,124,0.3897934173669467) 75%) no-repeat;
}


/* __________________________________________________________________Container */
.container {
     max-width: 1440px;
     margin: 0 auto;
     padding: 0px 15px;
}
h1 {
     font-family: 'Poppins-Bold', sans-serif;
     font-size: 25px;
     line-height: 2.2;
     text-align: center;
}
main p {
     max-width: 680px;
}
main p:nth-child(even) {
     color: #e4dbdb;
}
main p:nth-child(odd) {
     color: #cf7e7e;
}
main p:not(:last-of-type) {
     margin-bottom: 20px;
}
main p:nth-of-type(even):after {
     content: "➜";
     font-size: 25px;
     display: inline-block;

     color: #18213d;

}
ul {
     font-family: 'Inter-Regular', sans-serif;
     font-size: 20px;
     padding-left: 150px;
}
ul li::before {
	content: "";
	display: inline-block;
	background: url("../img/red_x.png") 0 0 no-repeat;
     vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	transition: all 0.2s;
}
ul li:hover::before {
     background: url("../img/blue_tick.png") 0 0 no-repeat;
	transform: scale(2);
}
li:hover {
     color: #e4dbdb;
}

/* __________________________________________________________________Footer */
footer {
     text-align: center;

}
.button {
     font-family: 'Inter-SemiBold', sans-serif;
	border: 2px solid #8197df;
     display: inline-block;
     padding: 10px 30px;
     color: #FFFFFF;
     background-color: #3056D3;
     border-radius: 30px;
	box-shadow: 0 7px 1px 1px #18213d;
	position: relative;
	top: 0;
	transition: all 0.1s;
     margin-bottom: 5px;
}
.button:hover {
	top: 3px;
	box-shadow: 0 2px 1px 1px #18213d;
     background-color: #16328d;
}
.button:active {
	color: #8396d3;
}

footer :last-child {
padding-bottom: 10px;
}