@import url("reset.css");
@import url("fonts.css");


html, body {
     height: 100%;
}
body {
     background-color: #E5E5E5;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.wrapper__header, .wrapper__footer {
     background-color: #847de9;
     min-width: 100%;
     padding: 10px 0px;
}
.header__title, .footer__text {
     font-family: 'Poppins-Medium', sans-serif;
     font-size: 24px;
     text-align: center;
     color: #3c3c3d;
}
.wrapper__main {
     max-width: 1470px;
     padding: 0 15px;
     background-color: #ffffff;
     margin: 0 auto;
     align-items: center;
}
.main__head-box {
     display: flex;
     justify-content: space-between;
     font-family: 'Poppins-Medium',sans-serif;
     font-size: 12px;
     color: #495057;
     line-height: 25px;
     margin-bottom: 44px;
     padding: 0 100px;
}
.main__container{
     padding: 0 100px;
}
.categories__menu::after {
     content: '+';
     font-family: 'Poppins-Medium',sans-serif;
     font-size: 12px;
     color: #495057;
     vertical-align: middle;
}
.main__columns {
     display: flex;
     gap: 20px;
}
.main__content {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     row-gap: 45px;
     margin-bottom: 60px;
}
.card__box {
     display: flex;
     flex-direction: column;
     max-width: 393px;
     gap: 30px;
     position: relative;

     font-family: 'Poppins-Light', sans-serif;
     font-size: 12px;
     color: #495057;
     line-height: 20px;
     transition: all 0.2s;
}
.card__box:hover{
     transform: scale(1.03);
}
.card__background {
     width: 100%;
}
.card__link {
     position: absolute;
     top: 30px;
     right: 30px;
     background-color: rgba(33, 37, 41, 0.3);
     border-radius: 3px;
     text-transform: uppercase;
     font-family: 'Poppins-Bold', sans-serif;
     font-size: 8px;
     color: #F8F9FA;
     padding: 3px 12px;
}
.card__information {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     row-gap: 15px;
}
.title {
     font-family: 'Poppins-Bold', sans-serif;
     font-size: 25px;
     line-height: 40px;
     color: #212529;
}
hr {
     width: 100%;
     border: 1px solid #E5E5E5;
}
.main__button {
     text-align: center;
     height: 70px;
}
.main__link {
     background-color: #212529;
     padding: 7px 50px;
     border-radius: 3px;
     max-width: 180px;
     font-family: 'Poppins-Medium', sans-serif;
     font-size: 12px;
     color: #F8F9FA;
     line-height: 25px;
     text-align: center;
     box-shadow: 2px 3px 4px 1px rgba(33, 37, 41, 0.24);
     position: relative;
     top: 0;
     transition: all 0.2s;
}
.main__link:hover {
	top: 3px;
}
